<% include header.ejs %>


<div class="conteinter">

    <div class="card mt-5 bg-transparent text-light text-center">

        <div class="card-header">
            <h1 class="card-title">Bienvenidos a las Elecciones 2019</h1>    
        </div>

        <div class="card-body">
            
            <div class="btnVot">
                <a  class="btn btn-success btn " href="/votante" ><h4>Ingresar</h4></a>
            </div>
            
        </div>

    </div>

</div>

<% include footer.ejs %>
