<% include header.ejs %>
<div class="conteinter">
    <div class="card mt-5 bg-transparent text-light shadow-5 text-center">
        <div class="card-header">
            <h2 class="card-title">Usted ya voto, muchas gracias por su voto</h2>    
        </div>
        <div clas="card-body">
            
            <div class="btnVot">
                <a class="btn btn-success btn-lg" href="/" >Volver</a>
                
            </div>
            
        </div>
    </div>
</div>
<% include footer.ejs %>
